@use 'utility';
@import 'taknepoidet-scss-starter';
@import 'variables';

body,
html {
	height: 100%;
	min-height: 100%;
	color: var(--primary-text);
	font-family: Manrope, sans-serif;
	border-radius: #{utility.rem(16)};
}
