@use 'utility';

:root {
	--brand-color: #0074e0;
	--brand-color-invert: var(--white);
	--white: #fff;
	--brand-vk: #07f;
	--brand-whatsapp: #25d366;
	--brand-phone: #5bc14b;
	--brand-telegram: #2babee;
	--brand-gitgub: #24292f;
	--brand-instagram: #c7018b;
	--brand-gmail: #ea4335;
	--brand-css: #016ac0;
	--brand-javascript: #dac518;
	--brand-php: #7a86b8;
	--brand-scss: #bf4080;
	--brand-typescript: #3077c6;
	--brand-nuxt: #00dc82;
	--brand-vue: #42b883;
	--brand-laravel: #eb4432;
	--brand-mysql: #016089;
	--brand-html: #e44d26;
	--ears: #{utility.rem(0)};
	--container: #{utility.rem(1360)};
	--transition-animation: 200ms cubic-bezier(0.42, 0, 0.19, 1);
	--focus-visible: #ff9500;

	@media screen and (width <= 1424px) {
		--container: 800px;
		--ears: #{utility.rem(16)};
	}
}

@media (color-gamut: p3) {
	:root {
		@supports (color: oklch(58.09% 0.23 254.84)) {
			--brand-color: oklch(56.72% 0.22 254.89);
			--brand-vk: oklch(58.67% 0.24 258.03);
			--brand-whatsapp: oklch(76.1% 0.27 149.74);
			--brand-phone: oklch(72.46% 0.26 141.05);
			--brand-telegram: oklch(70.47% 0.18 237.86);
			--brand-instagram: oklch(55.06% 0.25 347.08);
			--brand-gmail: oklch(62.57% 0.27 29.08);
			--focus-visible: oklch(78.52% 0.19 62.57);
			--brand-css: oklch(52.23% 0.2 252.24);
			--brand-javascript: oklch(81.6% 0.19 101.39);
			--brand-php: oklch(62.97% 0.21 273.61);
			--brand-scss: oklch(56.91% 0.26 352.93);
			--brand-typescript: oklch(56.45% 0.21 253.6);
			--brand-nuxt: oklch(78.62% 0.24 155.63);
			--brand-vue: oklch(70.25% 0.2 160.37);
			--brand-laravel: oklch(62.81% 0.27 30);
			--brand-mysql: oklch(46.29% 0.12 236.47);
			--brand-html: oklch(62.48% 0.24 35.07);
		}
	}
}

:root.light-mode {
	--primary-text: #222;
	--blank-fill: #fff;
	--dark-fill: #ebedf0;
	--blank-fill--о90: rgb(255 255 255 / 90%);
	--base-border: #f2f2f2;
	--lighter-fill: #f7f7f7;
	--light-fill: #ebebeb;
	--regular-text: #5c5c5c;
	--secondary-text: #ccc;
	--brand-javascript: #ff9500;
	--brand-nuxt: #00b067;

	@media (color-gamut: p3) {
		@supports (color: oklch(58.09% 0.23 254.84)) {
			--brand-javascript: oklch(78.52% 0.19 62.57);
			--brand-nuxt: oklch(66.55% 0.2 155.66);
		}
	}
}

:root.dark-mode {
	--brand-color: #0084ff;
	--primary-text: #f9f9f9;
	--blank-fill: #111;
	--dark-fill: #39393a;
	--base-border: #333;
	--blank-fill--о90: rgb(18 18 18 / 90%);
	--brand-gitgub: #999;
	--lighter-fill: #1f1f1f;
	--light-fill: #333;
	--regular-text: #5c5c5c;
	--secondary-text: #ccc;

	@media (color-gamut: p3) {
		@supports (color: oklch(58.09% 0.23 254.84)) {
			--brand-color: oklch(62.36% 0.22 255.13);
		}
	}

	img:not([src*='.svg']) {
		filter: grayscale(25%);
	}
}
